<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php" path="*php" verb="*" modules="FastCgiModule" scriptProcessor="C:\wamp\bin\php\php5.5.12\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
